<p id="notice"><%= notice %></p>

<div style="padding-left: 30px">
  <h1 style="color: blue;">X::Editable::Rails Test</h1><hr>
  <a href="https://github.com/werein/x-editable-rails">github url</a>
  <p style="margin-top: 50px;">
    <span class="editable" style="font-size: 18px">Test Editable-rails gem</span>
  </p>
  <p>
    <span class="editable" style="font-size: 18px">Test Editable-rails gem</span>
  </p>
  <p>
    <span class="editable" style="font-size: 18px">Test Editable-rails gem</span>
  </p>
  <p>
    <span class="editable" style="font-size: 18px">Test Editable-rails gem</span>
  </p>
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.editable').editable();
  });
</script>
